@font-face {
  font-display: swap;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 100 1000;
  src: url('/fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].woff2') format('woff2');
}
