@import "_reset.css";
@import "_fonts.css";

:root {
  /*
    Colors
  */

  --color-light: #ffffff;
  --color-light-mod-1: #ebebeb;
  --color-light-mod-2: #c4c4c4;
  --color-dark: #393939;
  --color-dark-mod-1: #4d4d4d;
  --color-dark-mod-2: #747474;

  --color-primary: #eb5e28;
  --color-primary-tint: #fce7df;
  --color-primary-shade: #804832;

  --color-info: #0683db;
  --color-info-tint: #daecfa;
  --color-positive: #0ca626;
  --color-positive-tint: #dbf2df;
  --color-caution: #ef7015;
  --color-caution-tint: #fdeadc;
  --color-negative: #f04150;
  --color-negative-tint: #fde2e5;

  /*
    Typography
  */

  --text-sans: 'Roboto Flex', Inter, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  --leading-default: 1.2;
  --leading-loose: 1.6;

  --measure: 60ch;

  /*
    Fluid type
    @link https://utopia.fyi/type/calculator?c=328,16,1.2,1776,24,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l|s-3xl&g=s,l,2xl,12
  */

  /* Step -2: 11.1111px → 15.36px */
  --step--2: clamp(0.6944rem, 0.6343rem + 0.2934vw, 0.96rem);
  /* Step -1: 13.3333px → 19.2px */
  --step--1: clamp(0.8333rem, 0.7503rem + 0.4052vw, 1.2rem);
  /* Step 0: 16px → 24px */
  --step-0: clamp(1rem, 0.8867rem + 0.5525vw, 1.5rem);
  /* Step 1: 19.2px → 30px */
  --step-1: clamp(1.2rem, 1.0471rem + 0.7459vw, 1.875rem);
  /* Step 2: 23.04px → 37.5px */
  --step-2: clamp(1.44rem, 1.2353rem + 0.9986vw, 2.3438rem);
  /* Step 3: 27.648px → 46.875px */
  --step-3: clamp(1.728rem, 1.4558rem + 1.3278vw, 2.9297rem);
  /* Step 4: 33.1776px → 58.5938px */
  --step-4: clamp(2.0736rem, 1.7138rem + 1.7553vw, 3.6621rem);
  /* Step 5: 39.8131px → 73.2422px */
  --step-5: clamp(2.4883rem, 2.015rem + 2.3086vw, 4.5776rem);
  /* Step 6: 47.7757px → 91.5527px */
  --step-6: clamp(2.986rem, 2.3662rem + 3.0233vw, 5.722rem);

  /*
    Fluid space
    @link https://utopia.fyi/space/calculator?c=328,16,1.2,1776,24,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l|s-3xl&g=s,l,2xl,12
  */

  /* Space 3xs: 4px → 6px */
  --space-3xs: clamp(0.25rem, 0.2217rem + 0.1381vw, 0.375rem);
  /* Space 2xs: 8px → 12px */
  --space-2xs: clamp(0.5rem, 0.4434rem + 0.2762vw, 0.75rem);
  /* Space xs: 12px → 18px */
  --space-xs: clamp(0.75rem, 0.6651rem + 0.4144vw, 1.125rem);
  /* Space s: 16px → 24px */
  --space-s: clamp(1rem, 0.8867rem + 0.5525vw, 1.5rem);
  /* Space m: 24px → 36px */
  --space-m: clamp(1.5rem, 1.3301rem + 0.8287vw, 2.25rem);
  /* Space l: 32px → 48px */
  --space-l: clamp(2rem, 1.7735rem + 1.105vw, 3rem);
  /* Space xl: 48px → 72px */
  --space-xl: clamp(3rem, 2.6602rem + 1.6575vw, 4.5rem);
  /* Space 2xl: 64px → 96px */
  --space-2xl: clamp(4rem, 3.547rem + 2.2099vw, 6rem);
  /* Space 3xl: 96px → 144px */
  --space-3xl: clamp(6rem, 5.3204rem + 3.3149vw, 9rem);
  /* Space 4xl: 128px → 192px */
  --space-4xl: clamp(8rem, 7.0939rem + 4.4199vw, 12rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 12px */
  --space-3xs-2xs: clamp(0.25rem, 0.1367rem + 0.5525vw, 0.75rem);
  /* Space 2xs-xs: 8px → 18px */
  --space-2xs-xs: clamp(0.5rem, 0.3584rem + 0.6906vw, 1.125rem);
  /* Space xs-s: 12px → 24px */
  --space-xs-s: clamp(0.75rem, 0.5801rem + 0.8287vw, 1.5rem);
  /* Space s-m: 16px → 36px */
  --space-s-m: clamp(1rem, 0.7169rem + 1.3812vw, 2.25rem);
  /* Space m-l: 24px → 48px */
  --space-m-l: clamp(1.5rem, 1.1602rem + 1.6575vw, 3rem);
  /* Space l-xl: 32px → 72px */
  --space-l-xl: clamp(2rem, 1.4337rem + 2.7624vw, 4.5rem);
  /* Space xl-2xl: 48px → 96px */
  --space-xl-2xl: clamp(3rem, 2.3204rem + 3.3149vw, 6rem);
  /* Space 2xl-3xl: 64px → 144px */
  --space-2xl-3xl: clamp(4rem, 2.8674rem + 5.5249vw, 9rem);
  /* Space 3xl-4xl: 96px → 192px */
  --space-3xl-4xl: clamp(6rem, 4.6409rem + 6.6298vw, 12rem);

  /* Custom pairs */
  /* Space s-l: 16px → 48px */
  --space-s-l: clamp(1rem, 0.547rem + 2.2099vw, 3rem);
  /* Space s-3xl: 16px → 144px */
  --space-s-3xl: clamp(1rem, -0.8122rem + 8.8398vw, 9rem);

  /* Fluid focus indicator */
  /* @link https://utopia.fyi/clamp/calculator?a=375,1440,4—6 */
  --fluid-4-6: clamp(0.25rem, 0.206rem + 0.1878vi, 0.375rem);
  /* @link https://utopia.fyi/clamp/calculator?a=375,1440,6—9 */
  --fluid-6-9: clamp(0.375rem, 0.309rem + 0.2817vi, 0.5625rem);

  /* @link https://utopia.fyi/clamp/calculator?a=375,1440,2—4 */
  --fluid-2-4: clamp(0.125rem, 0.081rem + 0.1878vw, 0.25rem);
}

body {
  margin: 0;
  font-family: var(--text-sans);
  font-size: var(--step-0);
  font-variation-settings:
    'wdth' 50,  /* thinner characters */
    'YTLC' 540; /* increase x-height */
  background-color: var(--color-sheet, var(--color-light));
  color: var(--color-text, var(--color-dark));
}

:where(p, h1, h2, h3, h4, h5, h6, li) {
  max-width: var(--measure);
  text-wrap: pretty;
}

h1 {
  font-size: var(--step-5);
}

a:not([href]) {
  display: none;
}

:focus-visible {
  outline: var(--fluid-6-9) double black;
  box-shadow: 0 0 0 var(--fluid-4-6) white;
}
