@import "_imgInput.css";
@import "_button.css";
@import "_slider.css";
@import "_image-compare.css";

.container {
    margin: auto;
    text-align: center;
    width: 50%;
    transition: 0.3s;
}

#errorMSG, #downloadLink {
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px){
    .container {
        width: 100%;
    }
}
