image-compare {
  margin-inline: auto;
  width: 100%;
  /* width: var(--image-compare-width); */
}

.compareContainer {
  width: 100%;
  height: 1080px;
}

.compressedInfo {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: end;
}

@media (orientation: portrait){
  image-compare {
    margin-inline: auto;
    width: auto;
  }

  .compareContainer {
    width: 100%;
    height: auto;
  }
}
