.inputFileContainer {
    margin: auto;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    background-color: #ebebeb;
    box-shadow: inset 0 3px 10px #c8c8c8;
    font-family: "Roboto Flex";
    transition: 0.3s;
}

#imgInputLabel {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    position: absolute;
    top: 42%;
    left: 0%;
    transform: translate(0%, 0%);
    text-align: center;
}

#fileInput {
    width: 100%;
    height: 100%;
    opacity: 0;
}

#fileInput::file-selector-button {
    width: 0px;
    color: transparent;
    background-color: transparent;
    border: 0;
}

#fileInput:hover, .inputFileContainer label:hover {
    cursor: pointer;
}
