.sliderContainer {
  width: auto;
  min-width: 100px;
  height: 100%;
  padding: 0%;
}

#qualitySlider {
  width: 90%;
  max-height: 600px;
  height: 90%;
  margin: 10px;
  color: rgb(155, 135, 24);
  writing-mode: vertical-lr;
  direction: rtl;
}

#qualityInput {
  font-size: 1.4rem;
  background-color: transparent;
  border: 2px solid gold;
  padding: 5px;
}

@media (orientation: portrait){
  .sliderContainer{
    height: 512px;
  }
}
