@import "imgInput.css";
@import "button.css";
@import "slider.css";
/* @import "image-compare.css"; */
@import "carousel.css";
@import "icon.css";

.container {
    margin: auto;
    text-align: center;
    width: 50%;
    transition: 0.3s;
}

#errorMSG, #downloadLink {
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px){
    .container {
        width: 100%;
    }
}
