@import "button.css";
@import "icon.css";
@import "image-compare.css";
@import "img-Input.css";
@import "sidebar.css";
@import "slider.css";
@import "text-area.css";
@import "loader.css";
@import "image-card.css";

.title {
  text-align: center;
}

.previewContainer {
  max-width: 1080px;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  transition: 0.3s;

  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.previewSidebar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
}

#errorMSG, #downloadLink {
    font-size: 1.5rem;
}

@media only screen and (max-width: 1080px){
    .previewSidebar {
      flex-direction: column;
      padding: 0px;
    }
}

@media (orientation: portrait){
    .container {
        width: 100%;
    }

    .previewContainer {
      align-items: center;
    }

    .previewSidebar {
      margin-top: 10%;
      padding: 0px;
    }
}
