.buttonContainer {
  width: 100%;
  margin: 0px;
  text-align: center;
  display: none;
}

.buttons {
  width: 100%;
  text-align: center;
  display: none;
  gap: 1rem;
  justify-content: center;
}

.btn {
  font-size: 1.5rem;
  border-radius: 6px;
  padding: 0.6rem 2rem;
  border: 2px solid transparent;
  cursor: pointer;

  &.clear {
    color: crimson;
    border-color: currentColor;
    background-color: white;
  }

  &.download {
    color: white;
    font-weight: 700;
    background-color: seagreen;
  }
}
