.cover {
  --space: var(--space-s);
  display: flex;
  flex-direction: column;
  /* min-block-size: 100vh; */
  padding: var(--space);

  > * {
    margin-block: var(--space-s, 1rem);
  }

  > :first-child:not(.center) {
    margin-block-start: 0;
  }

  > :last-child:not(.center) {
    margin-block-end: 0;
  }

  > .center {
    margin-block: auto;
  }
}
